@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans TC", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #1f2937;
}

.income {
  color: #10b981;
}

.expense {
  color: #ef4444;
}
